@page
@using PizzaLibrary.Interfaces
@model UML2Razor.Pages.Orders.ShowOrdersModel
@{
    ViewData["Title"] = "ShowOrders";
}

@{
    foreach(var line in Model.OrderLines) {
        <p>@line.MenuItem.Name</p>
    }

}
